<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>employee</title>
</head>
<body>
<div class="container">
    <a href="/"><button class="button-primary">Back</button></a>
    <h1>Employee Details</h1>
    <div class="row">
        <div>
            <div>
            <label>Employee ID:</label>
                <p th:text="${employee.id}"></p>
            </div>
            <br/>
            <label>First Name:</label><p th:text="${employee.firstName}"></p>
            <br/>
            <label>Last Name:</label><p th:text="${employee.lastName}"></p>
            <br/>
            <label>Salary:</label><p th:text="${employee.salary}"></p>
        </div>

    </div>
</div>
</body>
</html>